#header{
    min-height: 50px;

}

#branding h1{
    color: #fff;
}

a:link,
a:visited{
    color: #EFB644;
}
a:hover{
    color: #efb644b4 !important; 
}
div.breadcrumbs{
    background: black;
}
.module h2, .module caption, .inline-group h2{
    background: #EFB644;
}
#header, input{
    background: black;
}
.submit-row > input {
    background: black;
}

.submit-row > input:hover, input:hover {
    color: #efb644b4 !important;
}
