.btn-secondary {
  color: black !important; }

img {
  width: 100%; }

.logo {
  width: 80px;
 }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  
  position: relative;
  min-height: 650px;
  color: black;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 2rem;


}
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background:white;
    border: 1px solid black;
    border-radius: 4px; }

#services {
  min-height: 300px;
  position: relative;
  overflow: hidden; 
  color: black;}
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background:  #fff ;
    
  }

#showcase-inner {
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background:  #fff;
    
   }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
  #showcase h1 {
      font-size: 40px; }
  #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
  #top-bar .social {
      text-align: center !important; } 
  .index_margin {
      margin-top: 24rem !important;} }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

.black{
  color: black;
}

@media (max-width: 768px) {
  }