 <!-- Top Bar -->
 <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <i class="fab fa-whatsapp"></i> or <i class="fas fa-phone"></i>:  +267 72 621 902 ‭
          
        </div>

          <div class="col-md-3">
            <i class="fas fa-envelope-open"></i> pelo.dikago@gmail.com
          </div>
          <div class="col-md-4">
          
          <div class="social text-right">
            <a href="https://www.google.com/maps/@-22.5829349,27.0794237,15.71z" target="_blank">
              <i class="fas fa-map-marker-alt"> Find Us</i>
            </a>
            <a href="https://www.facebook.com/Jan-Botswana-Palapye-106986877727927" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>