 <!-- Top Bar -->
 <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <i class="fab fa-whatsapp"></i> or <i class="fas fa-phone"></i>:   +267 75 436 608
          
        </div>

        <div class="col-md-3">
          <i class="fas fa-envelope-open"></i> fazly.cc@gmail.com
        </div>
        <div class="col-md-4">
          
          <div class="social text-right">
            <a href="https://www.google.com/maps/place/NIPPON+MOTORS/@-24.627081,25.8680136,17z/data=!3m1!4b1!4m5!3m4!1s0x1ebb5ab9fe608e85:0xcf30e5fdf5f7519d!8m2!3d-24.627081!4d25.8702023" target="_blank">
              <i class="fas fa-map-marker-alt"> Gaborone</i>
            </a>
            <a href="https://www.google.com/maps/place/World+Bazaar/@-22.5269838,27.0903851,17z/data=!3m1!4b1!4m5!3m4!1s0x1eb0d53491e2fae9:0xa347eaf60ae9e2b8!8m2!3d-22.5269838!4d27.0925738" target="_blank">
              <i class="fas fa-map-marker-alt"> Palapye </i>
            </a>
            <a href="https://www.facebook.com/TheNipponMotorsBotswana" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>