#header{
    min-height: 50px;

}

#branding h1{
    color: #fff;
}

a:link,
a:visited{
    color: #4f2874;
}

div.breadcrumbs{
    background: rgb(71, 75, 155);
}
.module h2, .module caption, .inline-group h2{
    background: #fb4700;
}
#header{
    background: rgb(71, 75, 155);
}
.submit-row > input {
    background: rgb(71, 75, 155);
}
