#header{
    min-height: 50px;

}

#branding h1{
    color: #fff;
}

a:link,
a:visited{
    color: #EFB644;
}
a:hover{
    color: #efb644b4 !important; 
    text-decoration: none;
}
div.breadcrumbs{
    background: black;
}
.module h2, .module caption, .inline-group h2, input[type=submit]:hover {
    background: #EFB644;
}
#header{
    background: black;
}
.submit-row > input {
    background: black;
}

.submit-row:hover  {
    color: #efb644b4 !important;
}
input[type=submit] {
    background-color: #efb644b4;
}
